@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6; 
    position: relative; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    width: 100%;
}

.logo {
    cursor: pointer;
    max-height: 85px;
}

h1 {
    background-color: black;
    color: #e21833; 
    -webkit-text-stroke-color: #ffd200; 
    -webkit-text-stroke-width: 2px;
    font-size: 72px;
    font-family: 'Lato';   
}

.nav-links {
    list-style: none;
    background-color: black;
}

.nav-links li {
    display: inline-block;
    padding: 0% 20px;
    background-color: black;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    background-color: black;
    font-weight: 500;
    font-size: 20px;
    color: #e21833;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #ffd200;
}

#socials {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

.social-links {
    background-color: black;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    background-color: black;
}

.social-links li a {
    transition: all 0.3s ease 0s;
    font-size: 1.5rem;
    color: #e21833;
    text-decoration: none;
    background-color: black;
}

.social-links li a:hover {
    color: #ffd200;
}
