
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6; 
    position: relative; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
}

.logo {
    cursor: pointer;
    max-height: 80px;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    filter: brightness(70%);
    transform: scale(0.9);
}

.pageName {
    background-color: black;
    color: #ffd200; 
    text-align: center;
    font-size: 32px;
    font-family: 'Lato';   
}

header h1 {
    background-color: black;
    color: #e21833; 
    -webkit-text-stroke-color: #ffd200; 
    -webkit-text-stroke-width: 2px;
    font-size: 72px;
    font-family: 'Lato';   
}

.nav-links {
    list-style: none;
    background-color: black;
}

.nav-links li {
    display: inline-block;
    padding: 0% 20px;
    background-color: black;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    background-color: black;
    font-weight: 500;
    font-size: 20px;
    color: #e21833;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #ffd200;
}

.nav-links li a:active {
    color: #ffd200;
}

#socials {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

.social-links {
    background-color: black;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    background-color: black;
}

.social-links li a {
    transition: all 0.3s ease 0s;
    font-size: 1.5rem;
    color: #e21833;
    text-decoration: none;
    background-color: black;
}

.social-links li a:hover {
    color: #ffd200;
}

#team-photo-home{
    width: 50%;
    margin-left: 2%;
    border-radius: 0.5%;
}

hr {
    border-color:#e6e6e6;
}

#home-content1 {
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
    padding-top: 2%;
    padding-bottom: 2%;
}

#mission {
    padding-right: 1%;
    margin-right: 1%;
}

#mission h3{
    background-color: #e21833;
}

#home-content1 #mission {
    text-align: center;
    margin: auto auto;
    color: white;
    background-color: #cfcfcf;
}

#mission em {
    background-color: #e21833;
    font-size: 175%;
    padding-left: 2%;
    margin-right: 1%;
}

#mission p {
    background-color: #e21833;
    margin-right: 1%;
}

#mission h3 {
    font-size: 350%;
    margin-right: 1%;
}

#parallax1 {
    background-image: url("images/shirt-logo.png");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sph-building {
    width: 45%;
    margin-right: 2%;
    border-radius: 0.5%;
}

#location-info {
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
    padding-top: 3%;
    padding-bottom: 3%;
}

#location-text {
    width: 60%;
    background-color: #e21833;
    padding-left: 1%;
    margin-left: 1%;
}

#location-text h3{
    background-color: #e21833;
    color: white;
    text-align: center;
    font-size: 325%;
}

#location-text p {
    background-color: #e21833;
    color: white;
    text-align: center;
    font-size: 150%;
}

#location-text li {
    background-color: #e21833;
    color: white;
    text-align: center;
    font-size: 125%;
}

#location-text em {
    background-color: #e21833;
}

#location-text ul {
    list-style-type: none;
}

#parallax2 {
    background-image: url("images/shirt-logo.png");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#officers ul li img {
    max-height: 225px;
    border-radius: 1.5%;
}

#officers ul li div {
    text-align: center;
}

#officers ul  {
    margin: 1% 1% 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    border: #e21833 solid 10px;
    font-size: 24px;
}

#officers h2 {
    text-align: center;
    font-size: 42px;
}

#officers {
    padding-top: 2%;
    padding-bottom: 6%;
}

#parallax3 {
    background-image: url("images/shirt-logo.png");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new-mems1 {
    margin: 1% 1%;
    padding: 1% 1%;
}

#join-steps {
    display: flex;
    justify-content: center;
}


#join-steps h4 {
    font-size: 28px;
}

#join-steps div {
    border:#e21833 5px solid;
    border-radius: 20px;
    width: 45%;
    margin: 1% 1%;
    padding: 1.5% 1.5%;
}
