@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

li, a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #e21833;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
}

.logo {
    cursor: pointer;
    max-height: 75px;
}

.nav-links {
    list-style: none;
    background-color: black;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: black;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    background-color: black;
}

.nav-links li a:hover {
    color: #ffd200
}

h1 {
    background-color: black;
    color: #e21833; 
    -webkit-text-stroke-color: #ffd200; 
    -webkit-text-stroke-width: 2px;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lato';   
    padding-left: 3%;
}


